h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: #dbd7d7;
}
body {
  padding-top: 20px;
  background-color: #22232b;
  color: #dbd7d7;
}
.timer {
  padding: 20px 20px;
  background-color: rgb(32, 32, 32);
}
.timer__blocks-list {
  width: 80px;
  padding: 5px 5px;
  background-color: rgb(75, 75, 75);
  font-size: 20px;
  color: rgb(221, 221, 221);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.timer__items--rigth-border {
  padding-right: 10px;
  border-right: 1px solid rgb(219, 99, 18);
}
/* HW11 -search service */
.container {
  padding: 0 20px;
}
.form {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #32343b;

  padding: 20px 20px;
}
.form__input {
  border-radius: 10px;
  min-width: 190px;
  padding: 10px;
  border: none;
  color: inherit;
  background-color: #585a63;
}
.close-mobile {
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: #e4e4e4;
  transition: transform, ease-in-out, 300ms;
}
.form__reset-btn {
  position: absolute;
  top: 20px;
  left: 182px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.form__reset-btn:hover .close-mobile {
  fill: #e2580a;
  transform: rotate(90deg);
}

.form__submit-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
  border: none;
  padding: 10px 20px;
  background-color: #e2580a;
  color: #ffffff;
  transition: background-color, linear, 300ms;
}
.form__submit-btn:hover {
  background-color: #c95715;
}
.form__submit-btn:disabled {
  background-color: #a34e1d;
}
.spinner {
  animation: spinner 500ms linear infinite;
  display: block;
  border-radius: 50%;

  width: 15px;
  height: 15px;
  border-left: 2px solid #ffffff;
  background-color: transparent;
}
/* #e2580a */
.is-hidden {
  display: none;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.photo-card {
  width: 100%;
  max-width: 480px;
}
.gallery-item {
  object-fit: cover;
}
.img-modif {
  width: 100%;
  height: 377px;
}
.info {
  min-height: 58px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #32343b;
}
.info-item {
  text-align: center;
}
.info-value {
  display: inline-block;
  margin-top: 3px;
  font-size: 15px;
  color: #e65b0b;
}
