* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #14151b;
  color: #dbd7d7;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  color: #dbd7d7;
  background-color: #585a63;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
}
.search-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#search-box{
  padding: 15px 20px;
  transition: outline, cubic-bezier(0.4, 0, 1, 1) , 500ms 
}
#search-box::placeholder{
  color: #dbd7d7;
  padding: 0 5px;
}
#search-box:focus {
  outline: #ff4700 2px solid;
}

#search-box:focus + .spinner-container .spinner {
  display: inline-block;

  width: 40px;
  height: 40px;
  border-right: #ff4700 3px solid;
  border-radius: 50%;
  animation: spinnerRotate 2000ms linear infinite
}
@keyframes spinnerRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.country-list {
  
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.country-list__item {
  padding: 10px 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
  border-bottom: 1px #585a63 solid;
  background-color: #22232b; 
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.country-info {
  /* padding: 20px; */
  max-width: 400px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 45px;
  background-color: #32343b;
}
/* .contry-info__list{
  
 } */
.contry-info__item {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}
.contry-info__title {
  font-size: 20px;
  font-weight: 700;
}
.country-info__value {
  color: #ff4700;
}
